*{
  margin: 0;
  padding: 0;
}
body {
  background: grey
  
}
.nav-container{
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);;
}
.nav-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 40px;
}
.links{ 
  overflow: hidden;
  height: 0;
  transition: all 0.4s linear;
}
.links li{
  list-style: none;
  margin: 5px 0;
}
.links li:hover{
  transition: all 0.4s linear;
}
.links a{
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Poppins',sans-serif;
  color: grey;
}
.links a:hover{
  text-decoration: none;
  color:hsl(205, 90%, 88%);
  transition: all 0.4s linear;
}
.show-links{
  height: 10rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color:hsl(205, 90%, 88%);
  background: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
}
.nav-toggle:hover{
  transform: rotate(180deg);
}
.social-icons{
  display: none;
}
dl, ol, ul {
  margin-top: 0;
  margin-bottom: 0 !important;
}
@media screen and (min-width:800px){
  .nav-container{
    max-width: 1170px;
    margin: 0 auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 1rem;
  }
  .nav-toggle{
    display: none;
  }
  .links{
    display: flex;
    height: auto;
  }
  .links li{
    list-style: none;
    margin: 0px !important;
  }
  .links a{
  padding: 0;
  margin: 0 0.5rem;
  }
  .social-icons {
    display: flex;
    list-style: none;
  }
  .social-icons a {
    margin-left: 25px;
    font-size: 20px;
    transition: all 0.3s linear;
  }
  
}
